*{padding: 0;
    margin: 0;
}

/* .navbar-brand {
    font-size: 1.5rem;
}
.navbar-brand:hover{
  color: #0d6efd;  
}

.nav-link {
    font-size: 1.3rem;
    padding: 10px 15px;
}

.nav-link:hover {
    color: #0d6efd;
}

hr{
    font-size: 10px;
    font-weight: b;
}

.nav-item{
    padding: 0px 8px;
}
.nav-link.active {
    position: relative;
     font-weight: bold;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 25px;     /* short underline */
    
